<div class="col-md-12">
  <h1>ブログ記事編集</h1>
  <%= form_for @post, url: { action: :update } do |f| %>
    <div class="form-group">
      <%= f.label "タイトル" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "カテゴリ" %>
      <%= f.collection_select(:category_id, Category.all, :id, :title, class: "form-control") %>
    </div>
    <div class="form-group">
      <%= f.label "本文" %>
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <%= f.submit '更新する', class: "btn btn-primary" %>
  <% end %>
</div>
